body {
    background-color: #2c190a;
    text-align: center;
}

header {
    background-color: white;
    padding: 10px;
    text-align: center;
    padding-bottom: 6em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.headerNav {
    font-size: 100%;
    font-weight: bold;
    padding: 10px;
    color: #2c190a;
    text-decoration: none;
    border-radius: 25px;
    border: 3px solid #2c190a;
    cursor: pointer;
}

.search-bar input {
    border-radius: 25px;
    border: 3px solid #2c190a;
    background-color: #2c190a;
}

.results {
    background-color: white;
    margin: 6.8em 10% 0;
    color: #2c190a;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.results p {
    font-size: 18pt;
}

.results img {
    width: 10em;
    height: 10em;
    display: table-cell;
    margin: 3.4em auto;
}

.products1,
.products2 {
    border-color: #2c190a;
    border-width: 3px;
    border-top-style: solid;
}

.column {
    width: 1000px;
    display: table-cell;
    border-color: #2c190a;
    border-width: 3px;
    border-right-style: solid;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .results {
        margin: 0 5%;
    }

    .column {
        width: 100%;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 480px) {
    /* Adjust styles for even smaller screens */
    .results {
        margin: 0 2%;
    }
}
