
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* allergy Styles */
body {
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    margin: 0;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    overflow: hidden;
}

.content {
    padding: 20px;
}



.allergen-info {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 960px;
    margin: auto;
    margin-top: 20px;
}

.allergen-info h2 {
    margin-bottom: 20px;
    color:#18181b;
    font-size: 50px;
}

.allergen-info p {
    margin-bottom: 10px;
}

.allergen-info ul {
    margin-bottom: 20px;
}

.allergen-info li {
    margin-bottom: 10px;
}
