/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Profile Container Styles */
.profile-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 20rem;
    border-top-color: #dddddda9;
}

.profile-container h1 {
    padding-top: 3rem ;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.profile-container p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.profile-container strong {
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .profile-container {
        margin: 1rem;
        padding: 1rem;
    }
}