.name {
    width: 25%;
    margin-left: 8.5em;
}
.foodman {
    text-align: center;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    color: #000;    
    
}

.foodman span#s1 {
    color: #fc7f09;
}

#errormessage{
    color: rgb(180, 31, 31);
    font-size: smaller;
    visibility: hidden;
    padding-top: 0;
}

section form input {
    margin-left: 7.3em;
}
#confirm-password {
    margin-left: 3em;
}
#email {
    margin-left: 0.1em;
}

#password {
    margin-left: 0.1em;
}

#mobile-phone {
    margin-left: 6.8em;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .name {
        width: 100%;
        margin-left: 0;
    }

    #confirm-password {
        margin-left: 0;
    }

    section form input {
        margin-left: 0;
    }

    #email {
        margin-left: 0;
    }

    #password {
        margin-left: 0;
    }

    #mobile-phone {
        margin-left: 0;
    }
}

#confirmpassword {
    margin-left: 0.1em ;
}