/* stylesabout.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation styles */
nav {
    background-color: #fc7f09;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 20px 20px;
}
.active {
    background-color: #ffffff;
}


nav ul li a:hover {
    color: #ffd700;
}

/* Header styles */
.section__header {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fc7f09;
}

/* Section container styles */
.section__container {
    margin: 2rem auto;
    padding: 0 1rem;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Section content styles */
.section__content {
    line-height: 1.8;
    padding: 1.5rem;
}

/* Team member styles */
.team-member {
    text-align: center;
    margin-bottom: 2rem;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.team-member img:hover {
    transform: scale(1.1);
}

.team-member h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.team-member p {
    font-size: 0.9rem;
    color: #666;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
