/* terms styles */

.container_terms {
    padding: 200px;
}


/* Additional styles specific to the terms and services page */

.section-title_terms {
    font-size: 50px;
    margin-bottom: 50px;
    color: #18181b;
}

.section-content_terms {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 35px;
    color: #555;
}

.section-content_terms p {
    margin-bottom: 10px;
}

.hidden_terms {
    display: none;
}

.toggle-btn_terms {
    background-color: #fc7f09;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.toggle-btn_terms:hover {
    background-color: #e36200;
}

.terms-container {
    background-color: rgb(249, 249, 249);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
}